# CLERK AUTH
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
CLERK_WEBHOOK_SECRET=

# SUPABASE / PRISMA DATABASE
# Use the "Transaction" URL for DATABASE_URL (Port 6543)
# Use the "Session" URL for DIRECT_URL (Port 5432)
DATABASE_URL=
DIRECT_URL=

# SUPABASE CLIENT
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
